.comments-section {
  margin: 3rem 4rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5); // Black background with 0.5 opacity
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
  }

  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .comment-body {
    font-size: 1.1rem;
    line-height: 1.6;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .no-comments {
    font-size: 1rem;
    color: white;
  }
}
