
.featured {
  margin-top: 50px;
  padding: 30px;
  // background is grey with 50% opacity
  background-color: rgba(0, 0, 0, 0.5);

  .featured-carousel {
    display: flex;
    overflow-x: scroll;

    .featured-item {
      margin-right: 15px;
      flex: 0 0 150px;

      img {
        width: 150px;
        height: 200px;
        object-fit: cover;
      }

      h3 {
        font-size: 1rem;
        margin-top: 10px;
        color: #fff;
      }
    }
  }
}
