// Container
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2vw;
  padding-left: 2vw;
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1vw;
  margin-left: -1vw;
}

// Column
.col {
  position: relative;
  min-height: 1px;
  padding-right: 1vw;
  padding-left: 1vw;
}

// Column sizes
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(#{$i} / 12 * 100% - 2vw);
    max-width: calc(#{$i} / 12 * 100% - 2vw);
  }
}

// Container fluid
.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

// Width control (auto)
.col-auto {
  flex: 0 0 auto;
  width: auto;
}

// Container fluid
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2vw;
  padding-left: 2vw;
}


