.navbar {
  background-color: #333;
  color: #fff;
  padding: 0.4vh 0;
  position: relative;
  z-index: 1000;
}
.navbar .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .col {
  display: flex;
  align-items: center;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar .auth-buttons {
  display: flex;
  justify-content: flex-end;
}
.navbar .auth-buttons a {
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #ff5722;
  color: white;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: normal;
}
.navbar .auth-buttons a:hover {
  background-color: #ff4500;
}
.navbar .auth-buttons .admin-btn {
  background-color: #b71c1c;
}
.navbar .auth-buttons .admin-btn:hover {
  background-color: #990707;
}
.navbar input[type=text] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0 60px;
  width: 100%;
  position: relative;
}
.navbar img {
  height: 70px;
  width: auto;
}

.search-results {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 10px;
  display: none;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.search-result-item img {
  width: 40px;
  height: 60px;
  margin-right: 15px;
}

.search-result-item a {
  color: #333;
  font-size: 1rem;
  text-decoration: none;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}
