.search-bar {
  position: relative;
  width: 100%;
  margin-right: 50px;
  .search-bar-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;

    .search-result-item {
      padding: 10px;
      border-bottom: 1px solid #ddd;

      a {
        text-decoration: none;
        color: #333;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }

    p {
      padding: 10px;
      text-align: center;
      color: #888;
    }
  }
}
