
.up-next {
  // margin left and right 20px
  margin: 0 30px;
  // padding: 20px 0;

  .up-next-item {
    display: flex;
    margin-bottom: 10px;
    

    img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      object-fit: cover;
    }

    .up-next-content {
      display: flex;
      flex-direction: column;

      h3 {
        color: #fff;
        margin-bottom: 5px;
      }

      p {
        color: #bbb;
      }
    }
  }
}
